<%@search%>
<%@search[0]%>
<section class = "title">
  <h1><%=@search[0]["label"]%></h1>
  <h3> Source: <%=link_to @search[0]["source"], (@search[0]["url"])%></h3>
</section>
<section class = "image">
  <%=image_tag src=@search[0]["image"]%>
</section>
<section class= "ingredients">
  <table>
    <%@search[0]["ingredientLines"].each do |line|%>
    <tr>
      <td><%=line%></td>
    </tr>
    <%end%>
  </table>
</section>

<section class="nutrition">

    <table>
      <th>

          <% servings = @search[0]["yield"].to_i%>
          Serves: <%= servings%>
        </th>
        <th>
          <% cal = @search[0]["calories"].to_i%>
          <%= cal/servings%> calories per serving
        </th>

      <%@search[0]["digest"].each do |item|%>
      <tr>
        <td>
          <%=item["label"]%>
        </td>
        <td>
          <%value = item["total"].to_i%>
          <%=value/servings%> g
        </td>
      </tr>
      <%end%>
  </table>
</section>
